// Graphical variables
@import "config/fonts";
@import "config/colors";

// External libraries
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
