<nav class="flex items-center justify-around flex-wrap bg-white p-6 border-b border-gray-200">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <%= link_to root_url do  %>
      It - LOGO PLACE
    <% end %>
  </div>
</nav>
